body{
  background-color: rgb(255, 253, 120);
  color: rgb(40, 19, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px
}
h1{
  font-size: 40px;
  text-align: center;
  font-family: "Molle", cursive;
  font-weight: bold;
}
p{
  text-align: justify
}
img{
  margin-top: 20px;
  max-width: 80%;
  ;
   }
a{
  text-decoration: none;
  color: rgb(250, 120, 187);
  text-align: center;
}
a:hover{
  color: rgb(255, 255, 255);
}
body.modo_escuro {
  background-color: rgb(223, 126, 255);
  color: rgb(0, 0, 0);
}


button {
  border: 2px solid rgb(98, 106, 223);
  border-radius: 20px;
  width: 80px;
  position: fixed;
  right: 10px;
  top: 50px
}
